{% extends "layout.html" %}

{% block title %}
    {% if author %}
        {{ author }}'s cool ideas
    {% else %}
        latest rubbish (or may be not) ideas
    {% endif %}
{% endblock %}

{% block content %}

<a href="{{ logout_url }}">logout</a>

<h1 id="main_title">
    {% if author %}
        {{ author }}'s cool ideas
    {% else %}
        latest rubbish (or may be not) ideas
    {% endif %}
</h1>

    {% if ideas %}

        <ul id="idea_list">
        {% for idea in ideas %}
            <li>
                <h3><a class="header_link" href="{{ url_for('full_view', idea_id=idea.key().id()) }}">{{ idea.title }}</a></h3>    
                <p>
                    <span class="date">{{ idea.date.strftime('%d %B, %Y')}}</span> by 
                    <span class="author"><a href="{{ url_for('author', author=idea.author_nickname) }}">{{ idea.author_nickname }}</a></span>
                    {% if current_user and current_user.user_id() == idea.author_id %}
                        <span style="padding-left: 30px;">
                            <a href="{{ url_for('delete_idea', hash=idea.hash) }}">edit</a>&nbsp;&nbsp;
                            <a href="{{ url_for('delete_idea', hash=idea.hash) }}">delete</a>
                        </span>
                    {% endif %}
                </p>
            </li>
        {% endfor %}
        </ul>

        <div id="pagination">
        {% if current_page > 0 %}

            {% if author %}
                {% set prev_link = url_for("author", author=author, page=current_page - 1) %}
            {% else %}
                {% set prev_link = url_for("latest_ideas", page=current_page - 1) %}
            {% endif %}

            <a href="{{ prev_link }}">&larr; prev</a>&nbsp;&nbsp;
        {% endif %}

        {% if has_next %}

            {% if author %}
                {% set next_link = url_for("author", author=author, page=current_page + 1) %}
            {% else %}
                {% set next_link = url_for("latest_ideas", page=current_page + 1) %}
            {% endif %}

            <a href="{{ next_link }}">next &rarr;</a>
        {% endif %}
        </div>

    {% else %}
        no ideas... or may be no user... everything may happen
    {% endif %}

{% endblock %}
