{% extends "layout.html" %}

{% block title %}
    {% if author %}
        {{ author }}'s cool ideas
    {% else %}
        latest rubbish (or may be not) ideas
    {% endif %}
{% endblock %}

{% block content %}

<h1 id="main_title">
    {% if author %}
        {{ author }}'s cool ideas
    {% else %}
        latest rubbish (or may be not) ideas
    {% endif %}
</h1>

<ul id="idea_list">
    <li>
        <h3><a class="header_link" href="{{ url_for('full_view', idea_id=42) }}">Create something new you moron</a></h3>    
        <p><span class="date">10 June, 2012</span> by <span class="author"><a href="{{ url_for('author', author='kalimatas') }}">kalimatas</a></span></p>
    </li>
    <li>
        <h3><a class="header_link" href="/">Create something new you moron</a></h3>    
        <p><span class="date">10 June, 2012</span> by <span class="author"><a href="guzalexander.com">kalimatas</a></span></p>
    </li>
    <li>
        <h3><a class="header_link" href="/">Create something new you moron</a></h3>    
        <p><span class="date">10 June, 2012</span> by <span class="author"><a href="guzalexander.com">kalimatas</a></span></p>
    </li>
</ul>

{% endblock %}
