{% extends "layout.html" %}

{% block title %}
    {% if author %}
        {{ author }}'s cool ideas
    {% else %}
        latest rubbish (or may be not) ideas
    {% endif %}
{% endblock %}

{% block content %}

<h1 id="main_title">
    {% if author %}
        {{ author }}'s cool ideas
    {% else %}
        latest rubbish (or may be not) ideas
    {% endif %}
</h1>

    {% if ideas %}

        <ul id="idea_list">
        {% for idea in ideas %}
            <li>
                <h3><a class="header_link" href="{{ url_for('full_view', idea_id=idea.key().id()) }}">{{ idea.title }}</a></h3>    
                <p><span class="date">{{ idea.date.strftime('%d %B, %Y')}}</span> by 
                <span class="author"><a href="{{ url_for('author', author=idea.author_nickname) }}">{{ idea.author_nickname }}</a></span></p>
            </li>
        {% endfor %}
        </ul>

    {% else %}
        no ideas... as usual
    {% endif %}

{% endblock %}
