<!doctype html>
<html>
<head>
    <title>{% block title %}Latest ideas{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div id="content_wrapper">

    <div id="sidebar">
        <a id="writedown" class='btn-custom' href="{{ url_for('add_new_idea') }}">write down</a>
        <p id="advice">think twice before creating someting useless like this app</p>

        <div style="margin-top: 30px;"><a href="{{ url_for('latest_ideas') }}">latest ideas</a></div>
        <!--<a href="{{ logout_url }}">logout</a>-->
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>
