{% extends "layout.html" %}

{% block title %}write down new idea{% endblock %}

{% block content %}
    <h1 id="main_title">write down your idea</h1>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <form id="new_idea" method="post">
        <p>title</p>
        <input name="title" type="text" />

        <p>the content of your brain</p>
        <textarea name="content"></textarea>

        <div style="height: 10px; clear: both;"></div>
        <div style="float: left"><input type="submit" value="remember" /></div>
        <div id="help">you can user <a href="http://en.wikipedia.org/wiki/Textile_(markup_language)" target="_blank">textile</a> here</div>
        <div style="clear: both;"></div>
    </form>
{% endblock %}
